<div class="centered-content" *ngIf="!isEdit">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a *ngFor="let list of lists" class="list-menu-item is-active" (click)="getTasks(list._id)">
                    <p>
                        {{list.title}}
                    </p>
                </a>
            </div>
            <button class="button is-primary has-text-white" routerLink="/new-list">
                + New List
            </button>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <div style="text-align: center;" *ngIf="!taskClicked">
                <p>Click on the list to see the tasks</p>
            </div>
            <div class="task" *ngFor="let task of tasks" [ngClass]="!task.status ? 'complete' : ''">
                <div (click)="task.status=!task.status;complete(task._id,task._listId,task.status)">
                    <p>{{task.title}}
                    </p>
                </div>
                <button (click)="editTask(task._id,task._listId,task.title)" style="margin-right: 1%;"><i class="material-icons" style="font-size:24px;color:red">edit</i></button>
                <button (click)="deleteTask(task._id,task._listId)"><i class="material-icons" style="font-size:24px;color:red">delete</i></button>
            </div>

            <button *ngIf="taskClicked" class="button is-primary has-text-white" [routerLink]="['/new-task']"
                [queryParams]="{ id: listId}" style="margin-top: 15px;">
                + New Task
            </button>
        </div>
    </div>
</div>


<div class="centered-content" *ngIf="isEdit">
    <div class="modal-box">
        <h1 class="title">
            Edit task
        </h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #taskTitleInput [value]=editTaskTitle class="input has-background-light" type="text" placeholder="Add title">
            </p>
            <p class="control">
              <a class="button is-primary" (click)="updateTask(taskTitleInput.value)">
                Update
              </a>
            </p>
          </div>

          <button class="button is-primary" (click)="cancelEdit()">
            Cancel
          </button>
    </div>
</div>